@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');
*{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  padding: 0;
}
body{
  justify-content: center;
  align-items: center;

}
#myvideo{
  position: fixed;
 right: 0;
 bottom: 0;
 min-width: 100%;
 min-height: 100%;
}
h2{
  margin-left: 11vw;
  margin-top: 21vw;
  position: relative;
  font-size: 5.8em;
  font-weight: 900;
  color: darkgrey;
  z-index: 1;
  overflow: hidden;
}
h2::before
{
  content:'';
  position: absolute;
  left: -20%;
  width: 120%;
  height: 100%;
  background: linear-gradient(90deg,transparent 0%,lightgrey 5%,purple 100%);
  animation: animate 5.5s linear forwards;
}
@keyframes animate {
  0%{
    left: -20%;
  }
  100%{
    left:100%;
  }
}
h2 span{
  color: #ff022c;
}
video{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
  pointer-events: none;
  mix-blend-mode: screen;
}
.b{
  border-radius: 50px;
  border: none;
  outline: none;
  color: purple;
  font-size: 2.3rem;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  margin-left: 20vw;
    background: darkgrey;
    padding: 1%;
}
.b:hover{
  background: red;
  background-size: 400%;
}
@media (max-width:600px)
{
  h2{
    font-size: 3.2rem;
    margin-left: 0px;
  }
  body{
  background-color: purple !important;
  }
}
